/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'),
         url('../fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    color: #000000;
    padding-top: 72px;
    position: relative;
}
img{
    max-width: 100%;
    height: auto;
}

.wrapper{
    max-width: 1219px;
    margin: 0 auto;
}


/* header style start */

.fix{
    height: 72px;
    width: 1219px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 81px;
    top: 0;
    position: fixed;
}

.header__vhod{
    display: flex;
    align-items: center;
}
.header__logo-pic{
    padding-right: 500px;
}
.button__vhod{
    width: 78px;
    height: 40px;
    font-size: 13px;
    line-height: 24px;
    color: #1D1D1D;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
}
.button__vhod:hover, .button__vhod:focus{
   opacity: .75; 
}
@media all and (max-width: 575px){
    .img__vhod{
        display: none;
    }
}
@media all and (max-width:991px){
    .fix{
        padding: 0 8px;
    }
    .header__logo-pic{
        padding-right: 0px;
    }
}
@media all and (max-width: 1219px){
    .fix{
        width: 100%;
    }
}

/* name_card style start */
.wrap__name{
    padding: 80px;
    background: url(../img/title-fon-md.png) no-repeat;
}
.name__head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 38px;
    background: #FFFFFF;
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    width: 400px;

}
.name__head-end{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title__name{
    font-size: 36px;
    line-height: 42px;
    color: #1D1D1D;
    margin: 0;
    padding-bottom: 54px;
}
.desc__name{
    font-size: 14px;
    line-height: 16px;
    color: #626262;
}
.background__time{
    background: #262626;
    border-radius: 16px;
    padding: 16px 8px;
}
.time__name{
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 0;
}
@media all and (max-width: 971px){
    .wrap__name{
        padding: 80px 8px;
        text-align: center;
    }
}
@media all and (max-width: 575px){
    .wrap__name{
        padding: 131px 4px 0 8px;
        background: url(../img/title-fon-xs.png) no-repeat;
        height: 256px;
        margin-bottom: 56px;
    }
    .name__head{
        margin: 0 auto;
    }
    .title__name{
        font-size: 24px;
        line-height: 28px;
    }
}

/* name_card style end */

/* header style end */


/* main style start */

/* nav style start */

.nav__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 32px 81px 29px 81px;
    margin: 0 auto;
    margin-bottom: 56px;
    background: #FFFFFF;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}
.nav__item{
    margin-right: 40px;
}
.nav__item:last-child{
    margin-right: 0;
}
.nav__link{
    font-size: 16px;
    line-height: 19px;
    color: #626262;
    text-decoration: none;
}
.nav__link:hover, .nav__link:active, .nav__link:focus{
    color: #327430;
}
@media all and (max-width: 991px){
    .nav__list{
        padding: 32px 8px 29px 8px;
    }
}

/* menu for xs style start */

.nav__list-xs{
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 56px 0px;
    list-style: none;
    position: relative;
    text-align: center;

}
.nav__item-xs{
    display: none; 
    width: 100%; 
    height:auto; 
    position:relative;
}
.nav__item-xs:first-child{
    display: block;
}
.nav__list-xs:hover .nav__item-xs{
    display: block;
}
.nav__link-xs{
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    box-sizing:border-box;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #1D1D1D;;
}
.nav__link-xs:hover{
    color: #327430;
}

/* menu for xs style end */

/*nav style end */

/* restoran content style start */
.row__wrap{
    padding: 0 81px 0 87px;
}
.row{
    margin: 0;
}
.content__title{
    font-size: 22px;
    line-height: 34px;
    color: #1D1D1D;
    margin-bottom: 32px;
    padding: 0 81px;
}

.card__wrap{
    margin-bottom: 49px;
}
.card{
    display: flex;
    border: 1px solid rgba(117, 117, 117, 0.2);
    border-radius: 2px;   
}
.card__text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding-left: 16px;
}
.card__text:active, .card__text:focus, .card__text:hover{
    background: #D8D8D8;
}
.card__title{
    font-size: 16px;
    line-height: 24px;
    color: #1D1D1D;
    padding-top: 16px;
    margin: 0;
}
.bludo__desk{
    font-size: 13px;
    line-height: 21px;
    color: #626262;
    margin: 0;

}
.cena{
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    color: #1D1D1D;
    margin-bottom: 16px;
}
.card__image{
    width: 170px;
    height: 160px;
    background: #D8D8D8;
    border-radius: 2px;
}
@media all and (max-width: 991px){
    .card__wrap{
        margin-bottom: 32px; 
    }
    .card__text{
        padding-left: 24px;
    }
    .card__image{
        width: 200px;
        height: 160px;
    }
    .bludo__desk{
        display: none;
    }
    .row__wrap{
        padding: 0 8px;
    }
}
@media all and (max-width: 575px){
    .content__title{
        display: none;
    }
    .card__image{
        width: 102px;
        height: 102px;
        margin-top: 16px;
    }
    .cena{
        margin-bottom: 15px;
    }
    .card{
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: 1px solid rgba(117, 117, 117, 0.2);
        border-radius: 2px;   
    }
    .card__wrap{
        margin-bottom: 0;
    }
    .bludo__desk{
        display: none;
    }
    .row__wrap{
        padding: 0 8px 0 4px;
    }
}

/* restoran content style end */

/* main style end */


/* footer style start */

.foot__pad{
    background: #262626;
    padding: 0 81px;
}
@media all and (max-width: 991px){
    .foot__pad{
        padding: 0 8px;
    }
}
.footer__logo{
    width: 192px;
    height: 20px;
    margin-top: 56px;
}
.soc__icon{
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
}
.line{
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.4;
    size: 1px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.lang__pic{
    max-width: 227px;
    height: 40px;
}
.lang__text{
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
.slash{
    font-size: 16px;
    line-height: 19px;
    color: #49A144;
}
.soc__link{
    text-decoration: none;
    margin-bottom: 0px;
}
.footer__link-1, .footer__link-2{
    text-decoration: none;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF
}
.footer__bottom-link, .footer__text{
    text-decoration: none;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
}
.footer__app-group{
    text-align: center;
}

.btn__up{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 8px;
    bottom: 10px;
}

/* footer style end */